/* frontend/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Inter font family */
html, body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Tailwind gray-300 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0aec0; /* Tailwind gray-400 */
}
